html{
    font-family: "Poppins", serif;
}

.background{
    height: 100vh;
    background: rgb(135, 160, 201);
}
.title{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin-top: 30px;
}
.title-image{
    width: 200px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}